body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#create{
    position: fixed;
    bottom: 20px;
    right: 20px; 
}

#modal{
  position: fixed;
  bottom: 120px;
  right: 20px; 
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  display: none;
}

#cards{
  width: 100%;
  display: inline-block;
  /* float: left; */
}

#carde{
  width: 100%;
  float: left;
  display: inline-block;
  margin: 4px;
}